[run]
branch = True
source = nova
omit =
    .nox/*
    *tests*
    docs/*
    .stubs

[report]
exclude_lines =
    pragma: no cover
    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError
    raise TypeError
    @deprecated
    assert False

[html]
directory = docs/check/coverage